/* Generic Styles */

body {
    background: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
}

a:link, a:hover, a:visited, a:focus {
    color: #680061;
    text-decoration: none;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li {
    float: left;
    margin: 35px 10px;
}

/* Element Styles */

header {
    padding: 0 15px;
}

.body-container {
    background: #fff;
    padding: 0;
}

#hero-carousel {
    position: relative;
    padding: 0;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    margin-left: 0;
    width: 10%;
}

.carousel-indicators li {
    background-color: #fff;
}

.carousel-indicators .active {
    background-color: #7ED321;
    border: none;
}

.cta {
    width: 200px;
    height: 50px;
    border: 1px solid #417505;
    background: #7ED321;
    color: #4A4A4A;
    border-radius: 7px;
    position: absolute;
}

.headline {
    position: absolute;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 2px #444;
}

.wedding {    
    top: 120px;
    left: 20px;
    text-align: left;
}

.event {    
    top: 120px;
    right: 20px;
    text-align: right;
}

.wedding-btn {
    bottom: 40px;
    left: 20px;
}

.event-btn {
    bottom: 40px;
    right: 20px;
}

/* Form */
form {
	width: 100%;
}

.group { 
	position: relative; 
	margin-bottom: 35px; 
}

input {
	-webkit-appearance: none;
	display: block;
	background: #fff;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 0;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -6px;
	/* font-size: 14px; */
	color: #4a4a4a;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a4a4a; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a4a4a; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #4a4a4a;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a4a4a;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

.section-title {
    font-weight: 100;
    font-size: 30px;
    margin: 45px 0;
}

footer {
    background: #680061;
    color: #fff;
    padding: 0 15px;
}

footer p {
    margin-top: 30px;
}

footer ul {
    list-style-type: none;
    margin-top: 10px;
}

footer ul li {
    float: left;
    margin: 5px;
}